* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #e4e8f0;
}

html {
  scroll-behavior: smooth;
}

.transparent-txt {
  color: transparent;
}

.blue-block {
  background-color: #045694;
  border-bottom: solid 1px white;
}

header {
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: #045694;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
header ul li a {
  font-size: 20px;
  color: rgb(230, 230, 230);
  text-decoration: none;
  font-weight: 600;
}
header ul li a img {
  height: 45px;
}
header a:hover {
  color: white;
}
header .signup {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .signup a {
  color: rgb(230, 230, 230);
  font-size: 30px;
}
header .signup a:hover {
  color: rgb(66, 131, 228);
}
header .signup label {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .signup label input {
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
}
header .signup label i {
  color: white;
  font-size: 30px;
}
header .signup label i:hover {
  color: rgb(66, 131, 228);
}

.small-nav {
  position: sticky;
  top: 65px;
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 0%, rgb(8, 25, 139) 57%, rgb(4, 71, 193) 100%, rgb(0, 212, 255) 100%);
  height: 50px;
  width: 100%;
  padding: 50px 0px 10px 0px;
  display: flex;
  justify-content: left;
  align-items: end;
  color: white;
}
.small-nav .small-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 0 0 50px;
}
.small-nav .match-button-holder {
  display: flex;
  background: #3a6694;
  border-radius: 50px;
  gap: 3px;
}
.small-nav .match-button-holder .men-place {
  padding: 7px;
  background-color: white;
  color: black;
  border-radius: 50px;
}
.small-nav .match-button-holder .men-place a {
  color: black;
  text-decoration: none;
}
.small-nav .match-button-holder .women-place {
  padding: 7px;
  color: white;
  border-radius: 50px;
}
.small-nav .match-button-holder .women-place a {
  color: white;
  text-decoration: none;
}
.small-nav .small-nav-title {
  font-size: 35px;
  font-weight: 800;
}
.small-nav .matches-txt {
  font-size: 20px;
  padding: 5px 0;
  border-bottom: 3px solid white;
}
.small-nav .matches-txt a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.searchbox {
  background-color: white;
}

.search-input {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbox .search {
  width: 90%;
  height: 1px;
  border-radius: 60px;
  font-size: 1.3em;
  padding: 30px;
  background: linear-gradient(white, lightgrey);
  border: 1px solid lightgray;
}

.searchbox .date {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.icon-left {
  position: absolute;
  left: 10px;
  font-size: 50px;
  color: black;
}

.icon-right {
  position: absolute;
  right: 10px;
  font-size: 50px;
  color: black;
}

.date-block {
  display: flex;
}

.blocks-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-left: 1px solid;
  border-right: 1px solid;
}

.battons {
  width: 100%;
  height: 100px;
  background-color: #045694;
}

main {
  width: 100%;
}

.page-banner {
  display: flex;
}

.sort-block {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.sort-block .live-toggle {
  background-color: lightgray;
  height: 30px;
  width: 60px;
  border-radius: 30px;
  padding: 4px 2px 0 4px;
}
.sort-block .live-toggle .white-circle {
  background-color: white;
  height: 26px;
  width: 26px;
  border-radius: 50%;
}
.sort-block .change-day-btn a {
  padding: 5px 25px;
  border-radius: 50px;
  background-color: white;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 0.3s;
}
.sort-block .change-day-btn a:hover {
  padding: 10px 30px;
}
.sort-block .sort-filter-btns {
  display: flex;
  align-items: center;
  gap: 30px;
}
.sort-block .sort-filter-btns .sort-button a,
.sort-block .sort-filter-btns .filter-button a {
  padding: 5px 25px;
  border-radius: 50px;
  background-color: white;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 0.3s;
}
.sort-block .sort-filter-btns .sort-button a:hover,
.sort-block .sort-filter-btns .filter-button a:hover {
  padding: 10px 30px;
}

.game-day-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px 0px;
}
.game-day-block .game-day-block-wrapper {
  padding: 10px 0px 0px 0px;
  border-radius: 5px;
  background-color: white;
  width: 80%;
}
.game-day-block .game-day-block-wrapper .game-day-block {
  background: linear-gradient(180deg, #c2c2c2, #afe2ff);
  padding: 7px 0px;
  color: #505b73;
  font-weight: 600;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.game-day-block .game-day-block-wrapper .game-block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}
.game-day-block .game-day-block-wrapper .game-block-header .game-header-logo img {
  margin: 0 0 0 20px;
}
.game-day-block .game-day-block-wrapper .game-block-header .transparent-game-header-block {
  height: 50px;
  width: 50px;
}
.game-day-block .game-day-block-wrapper .game-teams-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px 0px;
  font-weight: 600;
}
.game-day-block .game-day-block-wrapper .game-teams-block .team-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.game-day-block .game-day-block-wrapper .show-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding: 10px 0;
  font-weight: 600;
}

.temp-class {
  border-top: solid 1px;
}

.last-result-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.last-title-wrapper {
  width: 80%;
}

.last-result-block {
  overflow: hidden;
}

.last-result-title {
  font-size: 30px;
  font-weight: 700;
}

.last-result-block-wrapper {
  justify-content: left;
  width: 80%;
}

.last-result-box {
  background-color: white;
  padding: 10px 0;
  transform: translate(-490px, 0px);
  animation: result-slider;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.last-result-cont {
  display: flex;
  gap: 50px;
}

.last-result-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-wrapper {
  align-items: center;
  display: flex;
}

.team-box-wrapper {
  display: flex;
}

.last-result-box-team {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.last-result-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 200px;
  padding: 30px;
}

@keyframes result-slider {
  0% {
    transform: translate(0px, 0px);
  }
  5% {
    transform: translate(-245px, 0px);
  }
  10% {
    transform: translate(-490px, 0px);
  }
  15% {
    transform: translate(-735px, 0px);
  }
  20% {
    transform: translate(-980px, 0px);
  }
  25% {
    transform: translate(-1225px, 0px);
  }
  30% {
    transform: translate(-1470px, 0px);
  }
  35% {
    transform: translate(-1715px, 0px);
  }
  40% {
    transform: translate(-1960px, 0px);
  }
  45% {
    transform: translate(-2205px, 0px);
  }
  50% {
    transform: translate(-1960px, 0px);
  }
  55% {
    transform: translate(-1715px, 0px);
  }
  60% {
    transform: translate(-1470px, 0px);
  }
  65% {
    transform: translate(-1225px, 0px);
  }
  70% {
    transform: translate(-980px, 0px);
  }
  75% {
    transform: translate(-735px, 0px);
  }
  80% {
    transform: translate(-490px, 0px);
  }
  85% {
    transform: translate(-245px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
footer {
  margin: 50px 0 0 0;
  padding: 10px 0px;
  width: 100%;
  height: auto;
  background-color: #020f2a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .foot-logo img {
  height: 50px;
}
footer .foot-sm a {
  color: white;
  justify-content: space-evenly;
  margin-right: 10px;
  font-size: 50px;
}
footer .download-block {
  display: flex;
  gap: 15px;
  height: 50px;
}/*# sourceMappingURL=match.css.map */