* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #020f2a !important;
  height: 2000px;
}

html {
  scroll-behavior: smooth;
}

.transparent-txt {
  color: transparent;
}

.blue-block {
  background-color: #045694;
  border-bottom: solid 1px white;
}

header {
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: #045694;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
header ul li a {
  font-size: 20px;
  color: rgb(230, 230, 230);
  text-decoration: none;
  font-weight: 600;
}
header ul li a img {
  height: 45px;
}
header a:hover {
  color: white;
}
header .signup {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .signup a {
  color: rgb(230, 230, 230);
  font-size: 30px;
}
header .signup a:hover {
  color: rgb(66, 131, 228);
}
header .signup label {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .signup label input {
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
}
header .signup label i {
  color: white;
  font-size: 30px;
}
header .signup label i:hover {
  color: rgb(66, 131, 228);
}

main {
  width: 100%;
  height: 100vh;
}

.page-banner {
  display: flex;
}

.h1 {
  color: #fff;
  margin-top: 50px;
  margin-left: 100px;
}

.news {
  margin-top: 20px;
  width: 50%;
  height: 600px;
  margin: auto;
}
.news h1 {
  color: white;
  width: 50%;
}
.news h2 {
  color: white;
  width: 50%;
}
.news .news-half {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  background-image: url(Image-Vadzim-Bokach-BSWC-190124.webp);
  background-size: 100% 400px;
  background-repeat: no-repeat;
}/*# sourceMappingURL=NEWS.css.map */