* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #020f2a;
  height: 2000px;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.transparent-txt {
  color: transparent;
}

.blue-block {
  background-color: #525252;
  border-bottom: solid 1px white;
}

header {
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: #575757;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
header ul li a {
  font-size: 20px;
  color: rgb(230, 230, 230);
  text-decoration: none;
  font-weight: 600;
}
header ul li a img {
  height: 45px;
}
header a:hover {
  color: white;
}
header .signup {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .signup a {
  color: rgb(230, 230, 230);
  font-size: 30px;
}
header .signup a:hover {
  color: rgb(66, 131, 228);
}
header .signup label {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .signup label input {
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
}
header .signup label i {
  color: white;
  font-size: 30px;
}
header .signup label i:hover {
  color: rgb(66, 131, 228);
}

main {
  width: 100%;
  height: 100vh;
}

.page-banner {
  display: flex;
}

.top-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}
.page-wrapper .page-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 0px 40px;
}
.page-wrapper .page-left .left-title {
  font-size: 40px;
  font-weight: bold;
}
.page-wrapper .page-right {
  padding: 0px 40px;
}
.page-wrapper .page-right img {
  width: 100%;
  height: auto;
}

.upcomming-title {
  font-size: 40px;
  font-weight: bold;
  margin: 50px 0px 10px 0px;
}

.comming-content {
  display: flex;
  gap: 50px;
}
.comming-content .comming-block-img {
  border-radius: 10px;
  width: 500px;
  overflow: hidden;
}
.comming-content .comming-block-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: 0.4s;
}
.comming-content .comming-block-img img:hover {
  scale: 1.3;
}

.upcomming-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pele-bg {
  width: 100%;
  background-image: url("img/pele-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0px 0px 0px;
}
.pele-bg .pele-bg-cont {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.349);
  padding: 200px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pele-bg .pele-bg-cont .text-article {
  font-size: 30px;
}
.pele-bg .pele-bg-cont .text-btn {
  margin-top: 50px;
}
.pele-bg .pele-bg-cont a {
  padding: 15px 30px;
  background-color: transparent;
  border: solid white;
  color: white;
  margin: 50px 0px 0 0;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
}
.pele-bg .text-title {
  font-size: 40px;
  font-weight: bold;
}

footer {
  padding: 10px 0px;
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .foot-logo img {
  height: 50px;
}
footer .foot-sm a {
  color: white;
  justify-content: space-evenly;
  margin-right: 10px;
  font-size: 50px;
}
footer .download-block {
  display: flex;
  gap: 15px;
  height: 50px;
}/*# sourceMappingURL=OVERVIEW.css.map */