* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
  font-family: "Montserrat", sans-serif;
}
main .left-side {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("FIFAPLS_SignIn_Hero_02.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .left-side .fifa-id-title {
  position: absolute;
  top: 10%;
  font-weight: 900;
  font-size: 30px;
}
main .left-side .fifa-main-txt {
  display: flex;
  flex-wrap: wrap;
  font-size: 70px;
  font-weight: 900;
}
main .left-side .fifa-article {
  font-size: 15px;
  font-weight: 700;
}
main .right-side {
  padding: 50px 0 50px 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main .right-side .right-side-wrapper {
  width: 85%;
}
main .right-side h1 {
  font-size: 40px;
  font-weight: 900;
}
main .right-side .input-block {
  height: 50px;
  position: relative;
  margin: 50px 0;
}
main .right-side .input-block input {
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  outline: none;
}
main .right-side .input-block p {
  position: absolute;
  left: 0;
  top: -20px;
}
main .right-side .input-block select {
  width: 100px;
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid;
  margin: 40px 0 0 0;
}
main .right-side .input-block .radio-input {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-style: 16px;
}
main .right-side .input-block .radio-input input {
  height: 15px;
  width: 15px;
  margin: 40px 0 0 0;
}
main .right-side .sumbit-btn {
  height: 40px;
  width: 80px;
}
main .right-side .sumbit-btn button {
  width: 100%;
  height: 100%;
  background-color: #0a71b4;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
}
main .right-side .forgot-pass-block {
  margin: 40px 0;
}
main .right-side .forgot-pass-block a {
  text-decoration: none;
  color: #0a71b4;
  font-size: 22px;
}
main .right-side .creat-acc {
  color: #03122b;
}
main .right-side .creat-acc .signup-btn {
  height: 40px;
  width: 120px;
  margin: 40px 0;
}
main .right-side .creat-acc .signup-btn a {
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  border: solid 1px;
  border-radius: 30px;
  text-decoration: none;
}/*# sourceMappingURL=register.css.map */