*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
    font-family: 'Montserrat', sans-serif;

    .left-side{
        position: relative;
        height: 100%;
        width: 100%;
        background-image: url('FIFAPLS_SignIn_Hero_02.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        .fifa-id-title{
            position: absolute;
            top: 10%;
            font-weight: 900;
            font-size: 30px;
        }

        .fifa-main-txt{
            display: flex;
            flex-wrap: wrap;
            font-size: 70px;
            font-weight: 900;
        }

        .fifa-article{
            font-size: 15px;
            font-weight: 700;
        }
    }

    .right-side{
        padding: 50px 0 50px 0;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .right-side-wrapper{
            width: 85%;
        }

        h1{
            font-size: 40px;
            font-weight: 900;
        }

        .input-block{
            height: 50px;
            position: relative;
            margin: 50px 0;

            input{
                height: 100%;
                width: 100%;
                border: none;
                border-bottom: 1px solid;
                outline: none;
            }

            p{
                position: absolute;
                left: 0;
                top: -20px;
            }

            select{
                width: 100px;
                height: 30px;
                outline: none;
                border: none;
                border-bottom: 1px solid;
                margin: 40px 0 0 0;
            }

            .radio-input {
                margin-top: 50px;
                display: flex;
                align-items: center;
                justify-content: left;
                font-style: 16px;

                input{
                    height: 15px;
                    width: 15px;
                    margin: 40px 0 0 0;
                }
            }
        }


        .sumbit-btn{
            height: 40px;
            width: 80px;

            button{
                width: 100%;
                height: 100%;
                background-color: #0a71b4;
                border: none;
                border-radius: 30px;
                color: white;
                font-weight: bold;
            }
        }

        .forgot-pass-block{
            margin: 40px 0;

            a{
                text-decoration: none;
                color: #0a71b4;
                font-size: 22px;
            }
        }

        .creat-acc{
            color: #03122b;

            .signup-btn{
                height: 40px;
                width: 120px;
                margin: 40px 0;

                a{
                    height: 100%;
                    width: 100%;
                    padding: 10px 20px;
                    background-color: transparent;
                    color: black;
                    border: solid 1px;
                    border-radius: 30px;
                    text-decoration: none;
                }
            }
        }
    }
}
