* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #e4e8f0;
}

html {
  scroll-behavior: smooth;
}

.transparent-txt {
  color: transparent;
}

.blue-block {
  background-color: #045694;
  border-bottom: solid 1px white;
}

header {
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: #045694;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
header ul li a {
  font-size: 20px;
  color: rgb(230, 230, 230);
  text-decoration: none;
  font-weight: 600;
}
header ul li a img {
  height: 45px;
}
header a:hover {
  color: white;
}
header .signup {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .signup a {
  color: rgb(230, 230, 230);
  font-size: 30px;
}
header .signup a:hover {
  color: rgb(66, 131, 228);
}
header .signup label {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .signup label input {
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
}
header .signup label i {
  color: white;
  font-size: 30px;
}
header .signup label i:hover {
  color: rgb(66, 131, 228);
}

main {
  width: 100%;
}

.page-banner {
  display: flex;
}

.fifa-tickets {
  background-image: url("./img/General-Ticketing-Promo-Box-DT.webp");
  padding: 0px 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.fifa-tickets .tickets-title {
  color: white;
  font-size: 35px;
}
.fifa-tickets .tickets-txt {
  color: white;
  font-size: 20px;
}
.fifa-tickets .tickets-button a {
  background-color: #0a94e0;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  margin-top: 150px;
  transition: 0.2s;
}
.fifa-tickets .tickets-button a:hover {
  padding: 12px 22px;
}

.page-banner-img {
  background-image: url("img/Spain-v-England-Final-FIFA-Women-s-World-Cup-Australia-New-Zealand-2023.webp");
  width: 100%;
  height: 85vh;
  background-position: center;
  position: relative;
}
.page-banner-img .opacity-background {
  padding: 20px;
  width: -moz-max-content;
  width: max-content;
  color: white;
  position: absolute;
  bottom: 0px;
  opacity: 1.3;
}
.page-banner-img .opacity-background .banner-title-1 {
  opacity: 1;
  font-size: 20px;
}
.page-banner-img .opacity-background .banner-title-2 {
  font-size: 40px;
}
.page-banner-img .opacity-background .banner-txt {
  font-size: 20px;
}

.midlecontainer {
  display: flex;
}/*# sourceMappingURL=style.css.map */